#property {
  width: 100%;
  padding-block: 4rem;
}

.property-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.property-info .property-title {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: capitalize;
  color: grey;
  width: 70%;
}

.property-btn {
  background-color: transparent;
  color: #505050;
  font-size: 1.5rem;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  transition: color 300ms;
}

.property-btn:hover {
  color: #000;
}

.property .container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
